:root {
    --main-white: #f0f0f0;
    --main-green: limegreen;
    --second-green: green;
    --main-gray: #1d2227;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    /* Set font size for easy rem calculations
    * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    font-family: "Courier";
    scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

#welcome-section {
    height: 100vh;
    
}

body {
    padding-top: 70px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-gray); /* Dark background */
    color: white; /* Light text */
    padding: 10px 20px; /* Add some padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    z-index: 1000; /* Ensure it's above other content */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}

nav ul li {
  display: inline;
}

nav ul li a {
    color: limegreen;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border: solid 1px transparent;
    /*ADD PADDING + MARGIN TO CUSTOMISE HOVER HIGHLIGHT SIZE*/
    transition: border-color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    border-color: limegreen; /* Slightly lighter background on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

.subtitle {
    font-style: italic;
    font-weight: normal;
}

#welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#welcome-text .title {
    padding: 5rem 0 1rem 0;
}